body {
    margin: 0;
}

h1 {
    color: white;
    font-weight: 900;
    font-size: 56px;
}

h3 {
    color: white;
    font-size: 38px;
    font-weight: 700;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #4C1D95;
}

/* START AND FINISH GAME BUTTONS START*/
.btn-wrapper {
    display: flex;
    width: 30%;
    flex-direction: row;
    justify-content: space-between;
}

#start,
#finish {
    background-color: #38BDF8;
    border: 2px solid #38BDF8;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    width: 100%;
    max-height: 240px;
    padding: 12px 24px;
    margin: 0 16px;
    font-size: 20px;
    transition: all 300ms ease;
    cursor: pointer;
}

#start:hover {
    background-color: green;
    border: 2px solid green;
}

#finish:hover {
    background-color: red;
    border: 2px solid red;
}

/* START AND FINISH GAME BUTTONS END*/

/* TIMER START */
.timer-wrapper {
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin: 24px 0;
    color: white;
    font-size: 28px;
    font-weight: 500;
}

#timer {
    border: solid 1px;
    border-color: #38BDF8;
    padding: 12px 12px;
}

#quarter {
    border: solid 1px;
    border-color: #38BDF8;
    padding: 12px 12px;
}

/* TIMER END */

/* SCORE START */
.score-wrapper {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 24px 0;
}

#home-score,
#guest-score {
    margin: 0 0 20px 0;
    background-color: black;
    border-radius: 4px;
    color: #F43F5E;
    padding: 24px 0px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
}

/* SCORE END */

/* QUARTER AND POINTS BUTTONS START */
#home-point1,
#home-point2,
#home-point3,
#guest-point1,
#guest-point2,
#guest-point3,
#quarter2,
#quarter3,
#quarter4 {
    background-color: transparent;
    color: white;
    border-style: solid 2px;
    border-radius: 4px;
    border-color: #38BDF8;
    width: 40px;
    height: 40px;
    transition: all 300ms ease;
    cursor: pointer;
}

#home-point1:hover,
#home-point2:hover,
#home-point3:hover,
#guest-point1:hover,
#guest-point2:hover,
#guest-point3:hover,
#quarter2:hover,
#quarter3:hover,
#quarter4:hover {
    background-color: #38BDF8;
    border-color: #38BDF8;
}

/* QUARTER AND POINTS BUTTONS END */

/* MEDIA QUERIES START */

@media only screen and (min-width: 1202px) and (max-width: 1475px) {
    .btn-wrapper {
        width: 50%;
    }

    .timer-wrapper {
        width: 30%;
        font-size: 20px;
        font-weight: 300;
    }

}

@media only screen and (min-width: 800px) and (max-width: 1201px) {

    h1 {
        color: white;
        font-weight: 900;
        font-size: 48px;
    }

    h3 {
        color: white;
        font-size: 28px;
        font-weight: 700;
    }

    .btn-wrapper {
        width: 50%;
    }

    #start,
    #finish {
        font-weight: 700;
        width: 100%;
        max-height: 200px;
        font-size: 16px;
    }

    .timer-wrapper {
        width: 30%;
        font-size: 20px;
        font-weight: 300;
    }

    #home-score,
    #guest-score {
        margin: 0 0 20px 0;
        background-color: black;
        border-radius: 4px;
        color: #F43F5E;
        padding: 24px 0px;
        font-size: 48px;
        display: flex;
        justify-content: center;
        font-family: 'Cursed Timer ULiL', sans-serif;
    }

    #home-point1,
    #home-point2,
    #home-point3,
    #guest-point1,
    #guest-point2,
    #guest-point3,
    #quarter2,
    #quarter3,
    #quarter4 {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (min-width: 380px) and (max-width: 799px) {

    h1 {
        font-size: 36px;
    }

    .btn-wrapper {
        width: 70%;
    }

    #start,
    #finish {
        font-weight: 700;
        width: 100%;
        max-height: 200px;
        font-size: 14px;
    }

    .timer-wrapper {
        width: 60%;
        font-size: 20px;
        font-weight: 300;
    }

    .home {
        font-size: 24px;
    }

    .guest {
        font-size: 24px;
    }

    .score-wrapper {
        width: 70%;
    }

    #home-score,
    #guest-score {
        margin: 0 0 20px 0;
        background-color: black;
        border-radius: 4px;
        color: #F43F5E;
        padding: 24px 0px;
        font-size: 32px;
        display: flex;
        justify-content: center;
        font-family: 'Cursed Timer ULiL', sans-serif;
    }

    #home-point1,
    #home-point2,
    #home-point3,
    #guest-point1,
    #guest-point2,
    #guest-point3,
    #quarter2,
    #quarter3,
    #quarter4 {
        width: 25px;
        height: 25px;
        font-size: 11px;
    }
}

/*MEDIA QUERIES END */